
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "5"
        }
      }
    ],
    ["@babel/preset-stage-2", { "decoratorsLegacy": true }]
  ],
  "ignore": ["node_modules", "dist"]
}
